* {
    margin: 0;
    padding: 0;
}
.left-menu ul {
    list-style: none;

}
.left-menu ul li {
    padding: 10px;
}
.left-menu ul li a {
    text-decoration: none;
}
.right-menu ul {
    list-style: none;

}
.right-menu ul li {
    padding: 10px;
}
.right-menu ul li a {
    text-decoration: none;
}

.show-categories a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}